.img-cart{
    border: 1px solid black;
    width: auto;
    height: auto;
    max-width: 100%;
}

.row-underline{
    border-bottom: 1px solid grey;
}

.checkout {
    border-bottom: 0px !important;
    padding: 0px;
}

.subtotal-row{
    border-bottom: 0px !important;
}

.subtotal-col{
    border-bottom: 0px !important;
    
}

.subtotal-col div{
    border-bottom: 1px solid grey;
    width: fit-content;
    margin-left: auto;
}