.suggestions-row{
    max-width: 100%;
    margin: 0px;
    padding-bottom: 2px;
    word-wrap: break-word;
    border-bottom: 1px solid grey;
}

.suggestions:first-child{
    border-top: 1px solid grey;;
}

a{
    text-decoration: none;
}