{% extends "base.html" %}
{% load static %}

{% block customHead %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'plants/css/plants.css' %}">
{% endblock %}

{% block bodyMain %}

<section class="row mt-4 justify-content-center">
    <div class="col-10">
        <div class="row">
            <!-- Search -->
            <div class="col-3">
                <form method="GET" action="{% url 'all_plants' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="query"
                                placeholder="Search...">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Categories -->
            <div class="col text-end">
                <li class="dropdown category-dropdown">
                    <a class="dropdown-toggle" id="categoryDropdown" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">Categories</a>
                    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
                        <li><a class="dropdown-item" href="{% url 'all_plants' %}">All</a></li>
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{% url 'all_plants' %}?category={{ category.name }}">
                                {{ category.friendly_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
        </div>
    </div>
</section>


<!-- Wrapper for the gallery -->
<section class="mt-4">
    <div class="container ">
        <!-- <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-l-3 row-cols-xl-4 justify-content-center"> -->
        <div class="row justify-content-center">
            {% for plant in plants %}
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                <a href="{% url 'single_plant' plant.id %}" class="card h-100">
                    <!-- Plant image, fill with placeholder if not present -->
                    {% if plant.image_url %}
                    <img class="card-img-top" src="{{ plant.image_url }}" alt="Image of {{ plant.common_name }}" />
                    {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="No image uploaded" />
                    {% endif %}
                    <!-- Card text -->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ plant.common_name }}</h5>
                            <h6 class="plant-card-subheader">{{ plant.botanical_name }}</h6>
                            <h6>-- {{ plant.category.friendly_name }} --</h6>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-5">
                    <p>No plants found, please try again</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}