{% extends "base.html" %}
{% load static %}

{% block customHead %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'plants/css/plants.css' %}">
{% endblock %}

{% block bodyMain %}
    <!-- Wrapper for the gallery -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for plant in plants %}
                <div class="col mb-5">                    
                    <div class="card h-100">
                        <!-- Plant image, fill with placeholder if not present -->
                        {% if plant.Image_url %}
                            <img class="card-img-top" src={{ plant.Image_url }} 
                                alt="Image of {{ plant.Common_name }}" />
                        {% else %}
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png"
                                alt="No image uploaded" />
                        {% endif %}
                        <!-- Card text -->
                        <div class="card-body p-4">
                            <div class="text-center">
                                
                                <h5 class="fw-bolder">{{ plant.Common_name }}</h5>
                                <h6 class="plant-card-subheader">{{ plant.Botanical_name }}</h6>
                                <h6>Layer: {{ plant.Layer }}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}